<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-提交问题页</title>

    <!-- 页面 css js -->

    <!--<script type="text/javascript" src="../../plugins/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="../../plugins/ckeditor/ckeditor/sample.js"></script>-->
        

    <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./css/page-sj-qa-submit.css" />
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script src="./plugins/jquery/dist/jquery.min.js"></script>
    <script src="plugins/ckeditor/static/ckeditor/ckeditor/ckeditor.js"></script>

</head>

<body>
    <div class="wrapper">
        <!--引用组件-->
        <!--头部导航-->
<header>
  <div class="sui-navbar">
    <div class="navbar-inner">
      <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
      <ul class="sui-nav">
       <li class="active"><a href="./index.html">头条</a></li>
       <li><a href="./qa-index.html">问答</a></li>
       <li><a href="./activity-index.html">活动</a></li>
       <li><a href="./talk-index.html">吐槽</a></li>
      </ul>

      <form class="sui-form sui-form pull-left">
        <input type="text" placeholder="输入关键词...">
        <span class="btn-search fa fa-search"></span>
      </form>
      <div id="user_info" >
	<div class="sui-nav pull-right info" v-if="user">
		<li><a href="#" target="_blank"><img :src="user.avatar_url" style="height: 30px;width: 30px"></a></li>
		<li><a href="#" target="_blank" >{{user.nickname}}</a></li>
		<li><a href="#" @click="logout()"  class="sui-btn btn-login">登出</a></li>
	</div>
	<div class="sui-nav pull-right info" v-else>
		<li><a href="./person-loginsign.html" >注册</a></li>
		<li><a href="./person-loginsign.html"  class="sui-btn btn-login">登录</a></li>
	</div>
</div>

  </div>
  </div>
  
</header>
    

        <div class="qa-submit-form" id="pub_question">
    <form action="" class="sui-form" @submit.prevent="onSubmit">
        <div class="input-title">
            <input type="text" placeholder="标题：一句话说清问题，用问号结尾" class="input-xfat input-xxlarge title" v-model="title">
        </div>
        <div class="control-group select">
                <select v-model="tag_id" style="margin-left: 8px">
                    <option disabled value="" selected>标签</option>
                    <option v-for="tag in labels" :value="tag.id">{{ tag.name }}</option>
                </select>
            </div>
        <!--<div class="tags-area">-->
                    <!--<label>标签：</label>-->
                    <!--<span v-for="tag in labels" >-->
                       <!--<input type="checkbox"  name="label" v-model="checkedLabels" class="input-xfat input-xxlarge" :value="tag.id" />{{ tag.name }}-->
                    <!--</span>-->
                <!--<div class="tags-box">-->
        <!--&lt;!&ndash;<div class="tags-area">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="input-tags">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" placeholder="标签，如:php可使用逗号，分号； 来分隔" class="input-xfat input-xxlarge" id="tags">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="tags-box">-->
                <!--<ul class="sui-tag tag-bordered">-->
                    <!--<li class="tag-item">javascript</li>-->
                    <!--<li class="tag-item">php</li>-->
                    <!--<li class="tag-item">css</li>-->
                    <!--<li class="tag-item">html</li>-->
                    <!--<li class="tag-item">java</li>-->
                    <!--<li class="tag-item">python</li>-->
                    <!--<li class="tag-item">html5</li>-->
                    <!--<li class="tag-item">node.js</li>-->
                    <!--<li class="tag-item">c++</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <div class="editor">

            <textarea name="financial"></textarea>
        </div>
        <div class="submit">
            <!--<span>已保存草稿</span>-->
            <span @click="submit_question()"><a class="sui-btn btn-release">发布问题</a></span>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<!-- <script>
    $(function () {
        $("#tags").focus(function () {
            $(".tags-box").css("display", "block");
            $(".tag-item").click(function () {
                var text = $(this).text();
                $("#tags").before("<span class='tags-detail with-x'>" + text + "<i>×</i></span>");
                $(".tags-detail").click(function () {
                    $(this).remove();
                })
            });
        });

    })

</script>
<script type="text/javascript">
    $(document).click(function () {
        $(".tags-box").hide();
    });
    $(".tags-area").click(function (event) {
        event.stopPropagation();
    });

</script> -->
    </div>
      
    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
    <div class="link">
        <dl>
            <dt>网站相关</dt>
            <dd>关于我们</dd>
            <dd>服务条款</dd>
            <dd>帮助中心</dd>
            <dd>编辑器语法</dd>
        </dl>
        <dl>
            <dt>常用链接</dt>
            <dd>传智播客</dd>
            <dd>传智论坛</dd>
        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd>联系我们</dd>
            <dd>加入我们</dd>
            <dd>建议反馈</dd>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dd>微博</dd>
            <dd>twitter</dd>
        </dl>

        <div class="xuke">
            <h3>内容许可</h3>
            <p>除特别说明外，用户内容均采用知识共享署名-非商业性使用-禁止演绎4.0 国际许可协议 (CC BY-NC-ND 4.0) 进行许可</p>
            <p>本站由 传智研究院 提供更新服务</p>
        </div>
    </div>


    <p class="Copyright">Copyright © 2017 传智问答社区 当前版本 0.0.1</p>
</div>
        </div>

    </div>

<!--<script>-->
<!--// $(function(){-->
<!--//   $(".hover").hover(function(){-->
<!--//     $(".hoverinfo").stop().animate({-->
<!--//        opacity: "show"-->
<!--//     },"slow");-->
<!--//     $(this).find(".fa-plus").css("color","#e64620");-->
<!--//   },function(){-->
<!--//     $(".hoverinfo").stop().animate({-->
<!--//        opacity: "hide"-->
<!--//     },"slow");-->
<!--//     $(this).find(".fa-plus").css("color","#000");-->
<!--//   })-->
<!--// })-->
<!--</script>-->
<!--<script src="./plugins/ckeditor/ckeditor.js"></script>-->
<!--<script>-->
    <!--CKEDITOR.replace('editor1');-->



	<!--//initSample();-->
<!--</script>-->
</body>
<script type="text/javascript" src="js/base.js"></script>
<script src="./plugins/ckeditor/static/ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="js/qa-submit.js"></script>

